* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #AB896E;
    --color2: #CDB7A2;
    --color3: #F1EDEA;
    --color4: #D9D9D9;
    --color5: #353534;
    --color6: #ffff;
    --font: Roboto, sans-serif;
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
    color: var(--default-color);
}

.container {
    max-width: 1100px;
    margin: auto;
}

body.lock {
    overflow: hidden;
}
