<section class="navbar">
    <div class="navbar__container">
        <div>
            <h1>IRIMAR</h1>
        </div>
        <div>
            <ul>
                <li><a href="#">Про нас</a></li>
                <li><a href="#">Гарантії</a></li>
                <li><a href="#">Доставка та оплата</a></li>
                <li><a href="#">Певернення товару</a></li>
            </ul>
        </div>
    </div>
    <div class="menu_contacts">
        <ul>
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" width="20" alt="fd"><a href="#">(981) 261-21-43</a></li>
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" width="20" alt="fd"><a href="#">(981) 261-21-43</a></li>
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" width="20" alt="fd"><a href="#">Telegram</a></li>
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" width="20" alt="fd"><a href="#">Viber</a></li>
            <li><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" width="20" alt="fd"><a href="#">Instagram</a></li> 
        </ul>
    </div>
</section>