<section>
      <div class="container">
        <div class="d-flex align-items-center text-center">
        <h2>Категорії</h2>
        </div>
        <div class="row">
          <div style="padding: 0px;width: 300px;" class="col-md-4 d-flex align-items-center text-center">
            <div class="card" >
                <img src="img/bed.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>

        </div>
      </div>
</section>